<h1> New Ocean </h1>

<form action="/oceans" method="post">
	<p>Name: <input type="text" name="ocean[name]"></p>
	<p>Image: <input type="url" name="ocean[image]"></p>
	<p>Depth: <input type="text" name="ocean[depth]"></p>
	<p>Area: <input type="text" name="ocean[area]"></p>

	<input type="submit" value="Create Ocean">
</form>